*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{   
    font-family: 'Merriweather', serif;
    text-align: center;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
header{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 3;
    background-color: #ffffff;
}
header div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logoImg{
    text-align: right;
    justify-content: flex-end;
    flex: 2
}
.logoName{
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    flex: 3;
}
.menu{
    justify-content: center;
    flex: 1;
}
.menu h4{
    display: none;
}
main{
    position: relative;
    top: 15%;
}
main .article2{
    background-color: #00cba9;
}
main .article4{
    background-color: #000000;
    color: #ffffff;
}
footer{
    background-color: #000000;
    color: #ffffff;
    position: relative;
    top: 14.5%;
    padding-bottom: 10px;
}
/* For Mobile */
[class*="col-"]{
    width: 100%;
}