*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
}
a{
    text-decoration: none;
    color: #000000;
}
header{
    display: flex;
    flex-direction: row;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}
header > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logoImg{
    flex: 4;
    justify-content: flex-end;
}
.logoName{
    flex: 5;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: x-large;
    justify-content: flex-start;
}
.logoMenu{
    flex: 3;
}
.logoMenu > a h3{
    display: none;
}
main{
    position: relative;
    top: calc(100px + 10%);
}
main > section{
    flex: 1;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.sec1 > div > article{ /* hope all article in this page have same width if so then merge them afterward */
    width: calc(250px + 10%);
    margin: auto;
    padding-bottom: 50px;
}
.sec1 > div > article *{
     padding: 10px 0;
}
.sec1 > div > .aside{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sec1 > div > aside *{
    width: calc(250px + 10%);
}
.sec2{
    background-color: #00cba9;
}
    .sec2 > div > article, .sec3 > div > h3, .sec4 > div > h3{
    width: calc(250px + 10%);
    margin: auto;
    padding-bottom: 20px;
}
.sec2 > div > article > figure > img{
    width: 100%;
}
figure > figcaption{
    text-align: center;
}
.sec4{
    background-color: #000000;
    color: #ffffff;
}
.sec5 > div{
    text-align: center;
}
.sec5 > div > video{
    width: 75%;
}
footer{
    position: relative;
    top: calc(99px + 10%);
    padding-bottom: 10px;
    background-color: #000000;
    color: #ffffff;
    font-family: monospace;
    display: flex;
    flex-direction: column;
}
footer a{
    color: #ffffff;
}
footer > div{
    margin: 0 0 0 15px;
    padding: 5px 0;
}


/* For mobile phone */
[class*="col-"]{
    width: 100%;
}