*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
}
a{
    text-decoration: none;
    color: #000000;
}
header{
    display: flex;
    flex-direction: row;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}
header > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logoImg{
    flex: 4;
}
.logoName{
    flex: 5;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: x-large;
}
.logoMenu{
    flex: 3;
}
.logoMenu > a h3{
    display: none;
}
main{
    position: relative;
    top: clamp(100px, 10px, 150px);
}
main > section{
    flex: 1;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.sec1 > div > article{
    width: 75%;
    margin: auto;
    padding-bottom: 50px;
}
.sec1 > div > article *{
     padding: 10px 0;
}
.sec1 > div > aside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sec1 > div > aside *{
    width: 89%;
}
footer{
    position: relative;
    top: clamp(90px, 10px, 100px);
    padding-bottom: 10px;
}