*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{   
    font-family: 'Merriweather', serif;
    text-align: center;
    width: 100%;
}
a{
    text-decoration: none;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
header{
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 3;
    background-color: #ffffff;
}
header div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logoImg{
    text-align: right;
    justify-content: flex-end;
    flex: 2
}
.logoName{
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    flex: 3;
}
.menu{
    justify-content: center;
    flex: 1;
}
.menu h4{
    display: none;
}
main{
    position: relative;
    top: 125px;
}
m
main article > svg{
    margin-bottom: -2%;
}
.content1 section, content3{
    margin: 5px 5px;
}
.content1 section .sideLeft *, .content1 section .sideRight *{
    margin: 5PX auto 10px 20PX;
}
.sideLeft h2{
    width: 75%;
    font-weight: bolder;
    text-align: start;
}
.sideLeft h3{
    width: 50%;
    font-weight: normal;
    text-align: start;
}
.sideRight{
    text-align: left;
}
main .article2{
    background-color: #00cba9;
}
.content2 section, .content4{
    padding: 10px 5px;   ;
}
.content2 section figure{
    margin: 10px auto  10px 20px;
    text-align: start;
}
figure figcaption{
    width: 75%;
    text-align: start;
}
.content3 h3{
    width: 75%;
    margin: 10px auto 10px 20px;
    text-align: start;
}
main .article4{
    background-color: #000000;
    color: #ffffff;
}
.content4 h3{
    width: 75%;
    margin: 5px auto 5px 20px;
    text-align: start;
}
footer{
    background-color: #000000;
    color: #ffffff;
    position: relative;
    top: 120px;
    padding-bottom: 10px;
}
footer section{
    padding: 10px;
    text-align: start;
}
footer section h3, footer section nav{
    margin: 5px auto 5px 20px;
    text-align: start;
}
footer section nav a{
    color: #ffffff;
    font-family: monospace;
}
/* For Mobile */
[class*="col-"]{
    width: 100%;
}

/* For tablet device */
@media only screen and (min-width: 600px){
    header{
        background-color: ;
    }
    .col-s-1{
        width: 8.33%;
    }
    .col-s-2{
        width: 16.66%;
    }
    .col-s-3{
        width: 25%;
    }
    .col-s-4{
        width: 33.33%;
    }
    .col-s-5{
        width: 41.66%;
    }
    .col-s-6{
        width: 50%;
    }
    .col-s-7{
        width: 58.33%;
    }
    .col-s-8{
        width: 66.66%;
    }
    .col-s-9{
        width: 75%;
    }
    .col-s-10{
        width: 83.33%;
    }
    .col-s-11{
        width: 91.66%;
    }
    .col-s-12{
        width: 100%;
    }
}
/* For desktop device */
@media only screen and (min-width: 768px){
    header{
        background-color: blue;
    }
    .menu img{
        display: none;
    }
    .menu h4{
        display: block  ;
    }
    .content1, .content2, .content3, .content4{
        width: 75%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .content1 > section, .content2 > section{
        flex: 1;
    }
    .content1 > section > img{
        width: 100%;
    }
    .content2 section figure{
        width: 100%;
        margin: 0;
    }
    figure img{
        width: 100%;
    }
    figure figcaption{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .content3 h3, .content4 h3{
        text-align: center;
        margin: auto;
    }
    .content5 video{
        width: 75%;
    }
    footer section{
        display: inline-block;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .col-1{
        width: 8.33%;
    }
    .col-2{
        width: 16.66%;
    }
    .col-3{
        width: 25%;
    }
    .col-4{
        width: 33.33%;
    }
    .col-5{
        width: 41.66%;
    }
    .col-6{
        width: 50%;
    }
    .col-7{
        width: 58.33%;
    }
    .col-8{
        width: 66.66%;
    }
    .col-9{
        width: 75%;
    }
    .col-10{
        width: 83.33%;
    }
    .col-11{
        width: 91.66%;
    }
    .col-12{
        width: 100%;
    }
}