*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{   /* psudo element for scroll bar in chrome, edge, safari and opera */
    display: none;   /* To hide the scroll bar but continue it's functionality */
}
html{
    font-size: 16px;
}
body{
    width: 100vw;
    font-family: 'Merriweather', serif;
}
header{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
}
#leftSecHeader{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#leftSecHeader div{
    flex: 1;
}
#logoImg{
    text-align: right;
}
#header-img{
    width: 20%;
}
#logoName{
    font-family: 'Dancing Script', cursive;
    font-size: 400%;
    font-weight: bolder;
    margin-left: 2%;
}
#rightSecHeader{
    flex: 1;
    text-align: center;
}
#rightSecHeader a{
    vertical-align: middle;
    font-size: 200%;
    text-decoration: none;
    color: black;
}
#menu2{
    display: none;
}
main{
    position: relative;
    top: 10em;
    display: flex;
    flex-direction: column;
}
main .article1 .content1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto 10%;
}
main .article1 .content1 div{
    flex: 1;
}
#content1Left h1{
    font-size: 220%;
}
#content1Left h3{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#content1Left div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#content1Left div img{
    width: 40%;
    vertical-align: middle;
}
#content1Right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#content1Right img{
    width: 90%;
}
main .article1 svg{
    margin-top: -7em;
}
main .article2{
    background-color: #00cba9;
}
main .article2 .content2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
main .article2 .content2 div{
    flex: 1;
    text-align: center;
}
main .article2 .content2 div img{
    width: 35%;
}
main .article2 .content2 div h2{
    width: 50%;
    margin: auto 10em;
    text-align: justify;
}
main .article2 svg{
    margin-top: -10em;
}
main .article3 .content3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
main .article3 .content3 h2{
    width: 40%;
    text-align: center;
}
main .article3 svg{
    margin-top: -5em;
}
main .article4{
    background-color: #000000;
    color: #ffffff;
}
main .article4 .content4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
main .article4 .content4 h2{
    width: 40%;
    text-align: center;
}
main .article4 svg{
    margin-top: -5em;
}
main .article5 .content5{
    text-align: center;
}
main .article5 svg{
    margin-top: -5em;
}
footer{
    position: relative;
    top: 10em;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer div{
    flex: 1;
    text-align: center;
}
footer div ul{
    list-style-type: none;
}
footer div ul li a{
    text-decoration: none;
    color: white;
    margin-left: 2px;
    font-size: smaller;
    font-family: monospace;
}
#infoSocialMedia ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* responsive code */
@media  screen and (max-width: 768px){
    /* phone */
    html{
        font-size: 1vw;
    }
    #header-img{
        width: 90%;
    }
    #logoName{
        font-size: 800%;
    }
    #menu1{
        display: none;
    }
    #menu2{
        display: block;
    }
    #menu2:hover{
        transform: scale(1.2);
    }/* end header part */

    main{
        top: 45em;
    }
    main .article1 .content1{
        flex-direction: column;
    }
    #content1Left{
        order: 2;
    }
    #content1Left h1{
        font-size: 450%;
        text-align: center;
    }
    #content1Left h3{
        font-size: 350%;
        text-align: center;
    }
    #content1Left div{
        flex-direction: column;
        justify-content: center;
        align-content: space-between;
    }
    #content1Left div img{
        width: 50%;
        margin-top: 1em;
    }
    #content1Right{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #content1Right img{
        width: 100%;
    }
    main .article1 svg{
        margin-top: -3em;
    }/* end article1 part*/
    main .article2 .content2{
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    main .article2 .content2 div{
        margin-top: 5em;
        width: 90%;
    }
    main .article2 .content2 div img{
        width: 100%;
    }
    main .article2 .content2 div h2{
        width: 90%;
        margin: auto;
        font-size: 400%;
    }
    main .article2 svg{
        margin-top: -3em;
    }/* end article2 part */
    main .article3 .content3 h2{
        width: 80%;
        font-size: 400%;
        font-weight: normal;
        margin: 2em auto;
    }
    main .article3 svg{
        margin-top: -3em;
    }/* end article3 part */
    main .article4 .content4 h2{
        width: 80%;
        font-size: 400%;
        margin: 2em auto;
    }
    main .article4 svg{
        margin-top: -3em;
    }/* end article4 part */
    main .article5 .content5 h2{
        font-size: 400%;
        margin: 2em auto;
    }/* end article5 part */
    footer{
        top: 45em;
        padding-bottom: 3em;
    }
    footer div ul li a{
        font-size: small;
    }
    #infoSocialMedia ul li a img{
        width: 2em;
        height: 2em;
    }
}
@media screen and (max-width: 1024px){
    /* tablets */
}
